<script setup>
    import BreezeAuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
    import { Head } from "@inertiajs/inertia-vue3";
    import BreezeButton from "@/Components/PrimaryButton.vue";
    import { Link } from "@inertiajs/inertia-vue3";
    import { useForm } from "@inertiajs/inertia-vue3";

    const props = defineProps({
        customer: {
            type: Object,
            default: () => ({}),
        },
    });

    const form = useForm({
        id: props.customer.id,
        name: props.customer.name,
        last_name: props.customer.last_name,
        email: props.customer.email,
        organization: props.customer.organization,
        phone: props.customer.phone,
        type_id: props.customer.type_id,
    });


    const submit = () => {
        form.put(route("customer.update", props.customer.id));
    };
    </script>

    <template>
        <Head title="Customer Edit" />

        <BreezeAuthenticatedLayout>
            <template #header>
                <h2 class="text-xl font-semibold leading-tight text-gray-800">
                    Customer Edit
                </h2>
            </template>

            <div class="py-12">
                <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
                        <div class="p-6 bg-white border-b border-gray-200">
                            <form @submit.prevent="submit">
                                <div class="mb-6">
                                    <label
                                        for="Name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >name</label
                                    >
                                    <input
                                        type="text"
                                        v-model="form.name"
                                        name="name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder=""
                                    />
                                    <div
                                        v-if="form.errors.name"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.name }}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label
                                        for="Autor"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Last_name</label
                                    >
                                    <input
                                        type="text"
                                        v-model="form.last_name"
                                        name="last_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder=""
                                    />
                                    <div
                                        v-if="form.errors.last_name"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.last_name }}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label
                                        for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Email</label
                                    >
                                    <input
                                        type="text"
                                        v-model="form.email"
                                        name="email"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder=""
                                    />

                                    <div
                                        v-if="form.errors.email"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.email }}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label
                                        for="organization"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Organization</label
                                    >
                                    <input
                                        type="text"
                                        v-model="form.email"
                                        name="organization"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder=""
                                    />

                                    <div
                                        v-if="form.errors.organization"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.organization }}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label
                                        for="phone"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Phone</label
                                    >
                                    <input
                                        type="text"
                                        v-model="form.phone"
                                        name="phone"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                        placeholder=""
                                    />

                                    <div
                                        v-if="form.errors.phone"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.phone }}
                                    </div>
                                </div>
                                <div class="mb-6">
                                    <label
                                        for="type"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        >Type</label
                                    >
                                    <select v-model="form.type_id" name="type_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option :selected="type_id == 1" value="1">Natural</option>
                                        <option :selected="type_id == 2" value="2">Empresarial</option>
                                        <option :selected="type_id == 3" value="3">Otros</option>
                                    </select>
                                    <div
                                        v-if="form.errors.type_id"
                                        class="text-sm text-red-600"
                                    >
                                        {{ form.errors.type_id }}
                                    </div>
                                </div>
                                <button
                                    type="submit"
                                    class="text-white bg-blue-700  focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 "
                                    :disabled="form.processing"
                                    :class="{ 'opacity-25': form.processing }"
                                >
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </BreezeAuthenticatedLayout>
    </template>